* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 20px;
}

.container {
    width: 100%;
    max-width: 1920px;
    background: #a71e2d;
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    justify-content: start;
    align-items: start;
    background: gainsboro;
    height: 500px;
    column-gap: 20px;
}

.widgets {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    column-gap: 0;
}

.bigWidgets {
     flex-basis: 32%;
    height: 500px;
    background: #235677;
}

.headerClass {
    background: #235677;
    height: 150px;
    padding-bottom: 20px;

}

.article {
    background: #811607;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar {
    background: #a6913c;
    flex: 0 0 300px;
}

.box {
    height: 500px;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 20px;
    height: 130px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}

a.active {
    color: #a71e2d;
}

.post {
    background: aqua;
    height: 240px;
}

.footerClass {
    height: 150px;
    margin-bottom: 0;
    background: #f1cf54;
}

.navClass {
    height: 100px;
    background: blueviolet;
}