* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background: #235677;
}

.headerBlock {
    width: 260px;
    background: #cdd1d3;
    height: 110px;
}

.container {
    width: 100%;
    max-width: 1920px;
    background: #a71e2d;
    margin-bottom: 20px;
}

.box {
    height: auto;
}

.sidebar {
    background: cadetblue;
    flex: 0 0 300px;
    align-self: stretch;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    height: 440px;
    row-gap: 20px;
}

.sidebar li {
    width: 260px;
    height: 50px;
    background: #a71e2d;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.wrap {
    display: flex;
    justify-content: start;
    align-items: start;

    column-gap: 20px;
    height: auto;
    padding-top: 20px;
}

.vertikalBox {
    margin-bottom: 20px;
}

.boxMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background: gainsboro;
    padding: 20px;
}

.mainImage {
    background: chartreuse;
    width: 100%;
    height: auto;
    min-height: 400px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #f1cf54;
    height: auto;
}

.imagesTop {
    background: #235677;
    flex-basis: 24%;
    height: auto;
    min-height: 220px;
}

.columns {
    padding-top: 20px;
    background: #5461f1;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;

}

.columnLeft {
    padding-top: 20px;
    display: flex;
    flex-basis: 70%;
    background: cadetblue;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
}

.imageLeft {
    background: #a05f6e;
    flex-basis: 48%;
    height: auto;
    min-height: 200px;
}

.columnRight {
    flex-basis: 28%;
    display: flex;
    flex-direction: column;
    background: #f1cf54;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    row-gap: 20px;
    padding-top: 20px;
}

.imageRightWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.imageRight {
    background: #50c73d;
    width: 100%;
    height: 100px;
}

.imageRight4 {
    width: 80%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 0;
    background: #b9def6;
}

.blockFooter {
    background: #a71e2d;
    height: 50px;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .images {
        row-gap: 20px;
    }

    .imagesTop {
        flex-basis: 48%;
    }

    .columns {
        flex-direction: column;
    }

    /*Что-то не получается для tablet сделатать*/
    .columnRight {
        flex-direction: row;
        justify-content: space-between;
    }

    .imageRightWrapper {
        width: 48%;
    }


    .imageRight4 {
        height: 340px;
        width: 48%;
        justify-content: stretch;
    }


}

@media screen and (max-width: 768px) {

    .columnRight {
        flex-direction: column;
        row-gap: 20px;
    }

    .imageRightWrapper {
        width: 100%;
    }

    .imageLeft {
        flex-basis: 100%;
    }

    .imageRight {
        width: 100%;
        height: 100px;
    }

    .imageRight4 {
        height: 460px;
    }

}